.Container.DashFooter {

    bottom: 0; 

    @include OverlayedBar();

    border-top: $Border;

    height: 4rem;

}

.DashFooterButtonSection {

    gap: $SpacingMedium;

}

.DashFooterButton {

    .DashFooterButtonText {

        @include RespondTo("Mobile") {

            display: none;

        }

    }

}