.DashMain {

    padding: 0 $SpacingLarge;

    @include FullWidthAndHeight();

    margin-top: calc(5rem + $SpacingLarge); // 5rem = height of header; 1 of $SpacingMedium = extra margin

}

.DashMainHeader {

    padding: 0 $SpacingSmall;
    padding-bottom: 0.25rem;

    margin-bottom: $SpacingLarge;

    background-color: $ElementColorDark;
    
    align-items: center;

    justify-content: space-between!important;
    
}

.Container.DashMainHeaderIcon {

    font-size: 64px;

}

.Container.DashMainHeaderContent {

    align-items: start!important;
    
}

.DashMainHeaderName {
    
    font-weight: $FontWeightSemiBold;

    margin-bottom: $SpacingSmall;

    font-size: clamp(1.5rem, 4vw, 2rem);

}

.DashMainFileList {

    // Grid Layout 

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    gap: $SpacingMedium;

    margin-bottom: 6rem;
    
}

.DashCodeInfill {

    background-color: $ElementColorLight;

    padding: 2px 4px;
    border-radius: $BorderRadiusSmall;

}