// Reusable Elements 

.Container {

    @include Container();

}

.Container.HorizontalFlex {
    
    @include FlexHorizontal();

}

.Container.VerticalFlex {

    @include FlexVertical();

}

.Container.Center {

    @include FlexCenter();

}

.Container.Transparent {

    @include TransparentContainerMod();

}

.Container.Glass {

    @include GlassBackground();

}

.Container.Full {

    @include FullWidthAndHeight();

}

.DashCodeInfill {

    background-color: $ElementColorLight;

    padding: 2px 4px;
    border-radius: $BorderRadiusSmall;

}