.Container.InlineFile, .Container.InlineDir {

    width: 100%;

    background-color: $ElementColorDark;

    padding: $SpacingSmall;

    cursor: pointer;

    transition: background-color $TransitionTime;

    justify-content: space-between;

}

.InlineFileContent {

    display: flex;

}

.Container.InlineFile:hover, .Container.InlineDir:hover {

    background-color: $ElementColorMedium;

}

.Container.InlineFileDetails {

    align-items: start;
    
}

.InlineFileIcon {

    @include FlexCenter();
    font-size: 42px;

    padding-left: calc($SpacingSmall * 1.5);

}

.InlineFileName {

    font-size: 1.1rem;
    font-weight: $FontWeightSemiBold;

    margin-bottom: 0.25rem;

}

// is a ul but horizontal and with bullet between items

.InlineFileStats, .DirStats {

    display: flex;

    list-style-type: none;

    padding: 0;

    margin: 0;

}

.InlineFileStats li:not(:last-child)::after, .DirStats li:not(:last-child)::after {

    content: "•";

    margin: 0 calc($SpacingSmall / 2);

}

// Options 

.InlineFileActions {

    @include FlexCenter();

    padding: $SpacingSmall;
    margin-right: $SpacingSmall;

    font-size: 1.15rem;

    transition: background-color $TransitionTime;

    border-radius: $BorderRadiusSmall;

}

.InlineFileActions:hover {

    background-color: $ElementColorLight;

}