// Variables 

$BackgroundColor: rgb(10, 10, 10);

$ElementColorDark: rgb(20, 20, 20);
$ElementColorMedium: rgb(35, 35, 35);
$ElementColorLight: rgb(50, 50, 50);
$ElementColorLightest: rgb(52, 52, 52);

$FontSizeLargest: 1.5rem;
$FontSizeLarge: 1.25rem;
$FontSizeMedium: 1rem;
$FontSizeSmall: 0.85rem;

$FontWeightBold: 700;
$FontWeightSemiBold: 600;
$FontWeightMedium: 500;

$Border: 1px solid $ElementColorLight;

$FontColor: rgb(240, 240, 240);

$BorderRadiusLarge: 7.5px;
$BorderRadiusSmall: 5px;

$SpacingLarge: 1.5rem;
$SpacingMedium: 1rem;
$SpacingSmall: 0.5rem;

$TransitionTime: 0.1s;

// Other files 

@import "Mixins.scss";

// Components

@import "Components/Global/Buttons.scss";
@import "Components/Global/Header.scss";
@import "Components/Global/Main.scss";
@import "Components/Global/Footer.scss";

// Reusable Components 

@import "Components/Reusable/InlineFile.scss";


// Global 

* {

    box-sizing: border-box;

}

// Body 

body {

    font-family: "din-2014", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: $BackgroundColor;
    color: $FontColor;

    margin: 0;
    padding: 0;

}

// Reusable Elements 

.Container {

    @include Container();

}

.Container.HorizontalFlex {
    
    @include FlexHorizontal();

}

.Container.VerticalFlex {

    @include FlexVertical();

}

.Container.Center {

    @include FlexCenter();

}

.Container.Transparent {

    @include TransparentContainerMod();

}

.Container.Glass {

    @include GlassBackground();

}

.Container.Full {

    @include FullWidthAndHeight();

}

.DashCodeInfill {

    background-color: $ElementColorLight;

    padding: 2px 4px;
    border-radius: $BorderRadiusSmall;

}